.card {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
  color: var(--palette-primary);
  height: calc(100vh - 88px);
  max-height: 600px;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%;
  will-change: transform;
}

.card__header {
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
  filter: blur(4px);
  height: 30%;
  width: 100%;
}

.card__content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 16px;
  position: relative;
  text-align: center;
  width: 100%;
}

.card__avatar {
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.08);
  margin: -74px 0 24px 0;
  height: 74px;
  width: 74px;
}

.card__pre-title {
  color: var(--palette-primary);
  font-family: var(--typography-primary);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 8px;
  margin: 4px 0;
  text-transform: uppercase;
}

.card__title {
  color: var(--palette-primary);
  font-family: var(--typography-primary);
  font-size: 22px;
  line-height: 0.8;
  margin: 0;
  text-transform: uppercase;
}

.card__line {
  background: var(--palette-primary);
  height: 4vh;
  margin: 24px 0 8px;
  max-height: 32px;
  opacity: 0.2;
  width: 1px;
}

.card__synopsis {
  color: #333;
  font-family: var(--typography-primary);
  font-size: 16px;
  line-height: 28px;
  opacity: 0.8;
}

.card__link {
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
  bottom: 0;
  box-sizing: border-box;
  color: var(--palette-primary);
  display: flex;
  font-family: var(--typography-primary);
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  line-height: 1.4;
  margin: 0;
  padding: 72px 0 16px;
  position: fixed;
  text-decoration: none; 
  text-transform: uppercase;
  transition: 0.2s;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .card {
    width: 380px;
  }

  .card:hover {
    transform: translate3d(0, -8px, 0);
    box-shadow: 0 14px 28px rgba(0,0,0,0.22), 0 8px 8px rgba(0,0,0,0.22);
  }
}