.title{
  padding: 24px 0;
}
.preview {
  position: relative;
}

.preview__container {
  align-items: center;
  background: var(--palette-tertiary);
  display: flex;
  height: 100%;
}

.preview__item {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 88px 32px;
  width: calc(100vw - 96px);
}

@media only screen and (min-width: 768px) {
  .title {
    padding: 72px 0;
  }

  .preview__item {
    margin: 72px 24px 0;
    width: 100%;
  }
}