.reel {
  padding: 24px 0;
}

.reel__header {
  background: var(--palette-primary);
  display: flex;
  flex-direction: column;
  height: 288px;
  justify-content: center;
  position: relative;
}

.reel__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 0;
}

.reel__line {
  background: #ccc;
  height: 112px;
  left: 50%;
  position: absolute;
  top: 220px;
  width: 1px;
}

.reel__video {
  background: var(--palette-primary);
  height: 488px !important;
  width: 100% !important;
}

@media only screen and (min-width: 768px) {
  .reel__content {
    padding: 44px;
  }

  .reel__video {
    max-width: 904px !important;
  }
}
