@import '~rodal/lib/rodal.css';

.study {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.study__close {
  align-items: center;
  background: var(--palette-primary);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 72px;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  width: 72px;
  transition: 0.2s ease-in-out;
  z-index: 1;
}

.study__container {
  width: 100%;
}

.study__header {
  align-items: center;
  background: var(--palette-tertiary);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 16px;
  position: relative;
  text-align: center;
  width: 100%;
}

.study__image {
  height: 96px;
  margin-bottom: 16px;
  object-fit: contain;
  width: 96px;
}

.study__pre-title {
  color: var(--palette-primary);
  font-family: var(--typography-primary);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 8px;
  margin: 4px 0;
  text-transform: uppercase;
}

.study__title {
  color: var(--palette-primary);
  font-family: var(--typography-primary);
  font-size: 22px;
  line-height: 0.8;
  margin: 0;
  text-transform: uppercase;
}

.study__line {
  background: var(--palette-primary);
  height: 48px;
  margin: 32px 0 8px;
  opacity: 0.2;
  width: 1px;
}

.study__body,
.study__synopsis {
  color: #333;
  font-family: var(--typography-primary);
  font-size: 16px;
  line-height: 28px;
  max-width: 1144px;
  opacity: 0.8;
}

.study__body:last-child {
  border-bottom: 1px solid #ccc;
  padding: 0 0 16px;
}

.study__link {
  align-items: center;
  color: var(--palette-primary);
  display: flex;
  font-family: var(--typography-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none; 
  text-transform: uppercase;
  transition: 0.2s;
}
  
.study__link:hover {
  color: var(--palette-secondary);
}

.study__content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 1144px;
  padding: 24px 32px;
  position: relative;
  text-align: justify;
}

.study__showcase {
  width: 100%;
}

.study__information {
  box-sizing: border-box;
  padding: 32px 0;
}

.study-carousel {
  position: relative;
}
  
.study-carousel__slide {
  cursor: move;
  height: 400px;
}

.study-carousel__image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.study-controls__dots {
  color: var(--palette-secondary);
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 100%;
}

.study-controls__dot {
  background: #d6d6d6;
  border-radius: 50%;
  height: 10px;
  margin: 0 8px;
  transition: 0.1s;
  width: 10px;
}

.study-controls__dot--selected {
  background: var(--palette-secondary);
}

@media only screen and (min-width: 768px) {
  .study__content {
    flex-direction: row;
    padding: 56px 32px;
  }

  .study__showcase {
    width: 50%;
  }
  
  .study__information {
    width: 50%;
  }

  .study__information {
    padding: 24px 0 24px 56px;
  }
}