@import "./common/Template.module.css";

.app {
  background: #fff;
  border: 16px solid var(--palette-primary);
}

.header {
  align-items: center;
  background: #fdfdfd;
  display: flex;
  height: 112px;
  justify-content: left;
  padding: 0 32px;
}

.header__image {
  background: var(--palette-primary);
  height: 72px;
  object-fit: contain;
  width: 72px;
}

.navigation{
  display: none;
}

@media only screen and (min-width: 768px) {
  .header {
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 32px;
    height: 192px;
  }

  .header__image {
    height: 96px;
    width: 96px;
  }

  .navigation {
    font-family: var(--typography-primary);
    display: inline-block;
    width: 272px;
  }
  
  .navigation__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation__link {
    color: var(--palette-primary);
    font-size: 14px;
    font-weight: 400;
    text-decoration: none; 
    text-transform: uppercase;
    transition: 0.2s;
  }
  
  .navigation__link:hover {
    color: var(--palette-secondary);
  }
}

@media only screen and (min-width: 992px){
}