@import "./common/Template.module.css";

.app {
  background: #fff;
  border: 16px solid var(--palette-primary);
}

.header {
  align-items: center;
  background: #fdfdfd;
  display: flex;
  height: 112px;
  justify-content: left;
  padding: 0 32px;
}

.headroom {
  align-items: center;
  background: var(--palette-primary);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 72px;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  width: 72px;
  transition: 0.2s ease-in-out;
  z-index: 1;
}

.headroom--unfixed {
  transform: translateY(-100%);
}

.headroom--pinned {
  transform: translateY(0%);
}

.header__image {
  background: var(--palette-primary);
  height: 72px;
  object-fit: contain;
  width: 72px;
}

.header__image--headroom {
  display: none;
}

.drawer-icon {
  color: var(--palette-tertiary);
  display: block;
}

.navigation{
  display: none;
}

@media only screen and (min-width: 768px) {
  .header {
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 32px;
    height: 192px;
  }

  .headroom {
    justify-content: space-between;
    left: 0;
    padding: 0 112px;
    width: 100%;
  }

  .headroom {
    padding: 0 112px;
  }

  .header__image {
    height: 96px;
    width: 96px;
  }

  .header__image--headroom {
    background: transparent;
    display: block;
  }

  .drawer-icon {
    display: none;
  }

  .navigation {
    font-family: var(--typography-primary);
    display: inline-block;
    width: 272px;
  }

  .navigation--headroom {
    width: 384px;
  }
  
  .navigation__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation__link {
    color: var(--palette-primary);
    font-size: 14px;
    font-weight: 400;
    text-decoration: none; 
    text-transform: uppercase;
    transition: 0.2s;
  }

  .navigation__link--headroom {
    color: var(--palette-tertiary);
  }
  
  .navigation__link:hover {
    color: var(--palette-secondary);
  }
}

@media only screen and (min-width: 992px){
}